vti_encoding:SR|utf8-nl
vti_author:SR|ELINOR\\Monoczki Pál
vti_modifiedby:SR|ELINOR\\Monoczki Pál
vti_timelastmodified:TR|06 Mar 2005 09:09:21 -0000
vti_timecreated:TR|06 Mar 2005 09:09:21 -0000
vti_cacheddtm:TX|06 Mar 2005 09:09:22 -0000
vti_filesize:IR|697
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{A8371155-3ABB-4244-9AFF-8AA583ABBE0E}
vti_backlinkinfo:VX|
