vti_encoding:SR|utf8-nl
vti_author:SR|ELINOR\\Monoczki Pál
vti_modifiedby:SR|ELINOR\\Monoczki Pál
vti_timelastmodified:TR|06 Mar 2005 09:09:22 -0000
vti_timecreated:TR|06 Mar 2005 09:09:22 -0000
vti_cacheddtm:TX|06 Mar 2005 09:09:24 -0000
vti_filesize:IR|29505
vti_cachedlinkinfo:VX|S|top_bar_button_deepblue.gif S|background_deepblue.gif S|bull2_deepblue.gif S|toolgrad_deepblue.gif S|theme.css S|dot_deepblue.gif S|toolgrad_deepblue.gif S|partgrad.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/deepblue/top_bar_button_deepblue.gif FSUS|_themes/deepblue/background_deepblue.gif FSUS|_themes/deepblue/bull2_deepblue.gif FSUS|_themes/deepblue/toolgrad_deepblue.gif FSUS|_themes/deepblue/theme.css FSUS|_themes/deepblue/dot_deepblue.gif FSUS|_themes/deepblue/toolgrad_deepblue.gif FSUS|_themes/deepblue/partgrad.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{99921CA0-62C3-43C1-8B14-0F8FAE3E3D4C}
vti_backlinkinfo:VX|_themes/deepblue/theme.css
