vti_encoding:SR|utf8-nl
vti_author:SR|ELINOR\\Monoczki Pál
vti_modifiedby:SR|ELINOR\\Monoczki Pál
vti_timelastmodified:TR|06 Mar 2005 07:51:21 -0000
vti_timecreated:TR|06 Mar 2005 07:51:21 -0000
vti_cacheddtm:TX|06 Mar 2005 07:51:22 -0000
vti_filesize:IR|699
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{E55372C4-4D8C-48FA-B832-44910598C798}
vti_backlinkinfo:VX|
