vti_encoding:SR|utf8-nl
vti_author:SR|ELINOR\\Monoczki Pál
vti_modifiedby:SR|ELINOR\\Monoczki Pál
vti_timelastmodified:TR|06 Mar 2005 07:51:21 -0000
vti_timecreated:TR|06 Mar 2005 07:51:21 -0000
vti_cacheddtm:TX|06 Mar 2005 07:51:22 -0000
vti_filesize:IR|29415
vti_cachedlinkinfo:VX|S|axiglobl.gif S|axibkgnd.gif S|axibul2.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/axis/axiglobl.gif FSUS|_themes/axis/axibkgnd.gif FSUS|_themes/axis/axibul2.gif FSUS|_themes/axis/toolgrad.gif FSUS|_themes/axis/dot.gif FSUS|_themes/axis/toolgrad.gif FSUS|_themes/axis/theme.css FSUS|_themes/axis/blank.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{80023E2E-FB85-403C-886C-34299EEBD3A5}
vti_backlinkinfo:VX|_themes/axis/theme.css
