vti_encoding:SR|utf8-nl
vti_author:SR|ELINOR\\Monoczki Pál
vti_modifiedby:SR|ELINOR\\Monoczki Pál
vti_timelastmodified:TR|06 Mar 2005 09:00:36 -0000
vti_timecreated:TR|06 Mar 2005 09:00:36 -0000
vti_cacheddtm:TX|06 Mar 2005 09:00:38 -0000
vti_filesize:IR|1492
vti_cachedlinkinfo:VX|S|banner_breeze.gif S|rule_breeze.gif S|bull1_breeze.gif S|bull2_breeze.gif S|bull3_breeze.gif S|nav_hor_breeze.gif S|nav_hor_down_breeze.gif S|nav_vert_down_breeze.gif S|nav_vert_breeze.gif S|nav_home_breeze.gif S|nav_up_breeze.gif S|nav_prev_breeze.gif S|nav_next_breeze.gif S|bull1_breeze.gif S|bull2_breeze.gif S|bull3_breeze.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/breeze/banner_breeze.gif FSUS|_themes/breeze/rule_breeze.gif FSUS|_themes/breeze/bull1_breeze.gif FSUS|_themes/breeze/bull2_breeze.gif FSUS|_themes/breeze/bull3_breeze.gif FSUS|_themes/breeze/nav_hor_breeze.gif FSUS|_themes/breeze/nav_hor_down_breeze.gif FSUS|_themes/breeze/nav_vert_down_breeze.gif FSUS|_themes/breeze/nav_vert_breeze.gif FSUS|_themes/breeze/nav_home_breeze.gif FSUS|_themes/breeze/nav_up_breeze.gif FSUS|_themes/breeze/nav_prev_breeze.gif FSUS|_themes/breeze/nav_next_breeze.gif FSUS|_themes/breeze/bull1_breeze.gif FSUS|_themes/breeze/bull2_breeze.gif FSUS|_themes/breeze/bull3_breeze.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{71A702CF-5D9E-4AA9-A654-93176C00C67B}
vti_backlinkinfo:VX|
